/*
!/pages
!/config
security.yaml
git-sync.yaml
versions.yaml

!themes
themes/*
!themes/.*
!themes/afj

!data
data/*
!data/.*
!data/calendars

!plugin
plugin/*
!plugin/.*
!plugins/event-list