{% set html_target = 'target="_blank"' %}
{% if target %}
    {% set html_target = ' target="' ~target~ '"' %}
{% endif %}

<div class="center">
    <a href="{{ link }}"{{ html_target|raw }}>
        <button class="btn btn-lg inline-block btn-{{ color }}">
            {{ content|raw }}
        </button>
    </a>
</div>
