.vertical-menu {
  position: sticky;
  top: 4.2rem;
  margin-top: 1.9rem;
  z-index: 1;
  
  h3 {
    margin-top: 0.5rem;
  }

  .menu-group {
    font-family: $title-font-family;
    font-size: 1.1rem;
    margin-top: 0.7rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 0.5rem;
  }
}
