@keyframes floating-ball {
  from {
    top: 125%; 
    left: 35%;
    transform: 
      rotate(0deg) 
      scale(1.0);
  }
  to {
    top: -25%; 
    left: 80%;
    transform: 
      rotate(250deg) 
      scale(0.25);
  }
}

.hero-ball {
  position: absolute;
  top: 150%;
  left: 25%;
  width: 40px;

  animation-name: floating-ball;
  animation-duration: 10s;
  animation-delay: 5s;
}
