.center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.no-link {
    color: initial !important;
    text-decoration: none !important;
}

.rounded {
    border-radius: 1rem;
}

.float-right {
    float: right;
}
